body {
  text-align: center;
  margin: 0;
}
h1 {
  font-family: 'Anek Telugu', sans-serif;
  margin: 10px auto 0 auto;
}

h2 {
font-family: 'Anek Telugu', sans-serif;
}

h3 {
  font-family: 'Anek Telugu', sans-serif;
}

p {
  padding-bottom: 10px;
font-family: 'Montserrat', sans-serif;
}
/************************ CONTAINERS **************************/
.title-container {
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 210px;
  position: relative;
  background-color: #DBE2EF;
}

.top-container {
  padding: 10px 20px;
  line-height: 2;
  background-color: #FF4A4A;
}

.middle-container {
  width: 60%;
  padding: 10px 288px;
  line-height: 2;
  background-color: #59CE8F;
}

.bottom-container {
  padding-left: 20px;
  text-align: left;
  line-height: 2;
  padding-bottom: 111px;
    padding-top: 10px;
  background-color: #DBE2EF;
}
/************************** IMGS ***************************/

.spiderman-img {
  position: absolute;
  right: 50px;
  top: 50px;
}

.spiderman-all-body-img {
  float: left;
  left: 10px;
  width: 300px;
  height: 480px;
}

.arrampicata-img {
  float: right;
  height: 300px;
  width: 500px;
}

.doc-oc-img {
  position: absolute;
  height: 330px;
  width: 330px;
  left: 10px;
}

.goblin-img {
  position: absolute;
  height: 300px;
  width: 300px;
  right: 0;
}

.venom-img {
    position: absolute;
    height: 320px;
    width: 270px;
    left: 10px;
  }

.parker-img {
  float: right;
      height: 545px;
      width: 545px;

}

/*************************** FONTS & TEXT ***********************/

.spiderman {
  font-size: 8rem;
  color: #FF4A4A;
}

.personality {
  text-align: right;
}

.power {
  text-align: left;
}
